<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<!--表单和flash消息-->
{#<form method="post">#}
{#    <label for="">用户名：</label><input type="text" name="username"><br>#}
{#    <label for="">密码：</label><input type="password" name="password"><br>#}
{#    <label for="">确认密码：</label><input type="password" name="password2"><br>#}
{#    <input type="submit" value="提交"><br>#}
{##}
{#</form>#}
<hr>
<!--wtf表单的应用-->
{% if form %}
<form method="post">
    {{form.csrf_token()}}
    {{ form.username.label}}{{form.username }}<br>
    {{ form.password.label}}{{form.password }}<br>
    {{ form.password2.label}}{{form.password2 }}<br>
    {{ form.verify_code.label }}{{ form.verify_code }}
<img class="verify_code" src="{{ url_for('get_code') }}" onclick="this.src='{{url_for('get_code') }}'+'?'+ Math.random()"><br>
    {{form.submit }}<br>

    {%if name%}{{name}}{% endif %}
        {% for message in get_flashed_messages() %}
        {{message}}
    {%endfor%}
</form>
{% endif %}
</body>
</html>